.resume{
    background-color: #FFFFFF;
    width: 30vw;
    height: 85vh;
    box-shadow: 2px 2px 4px #000000;
    font-family: monospace;
    display: block;
    margin: auto;
}

.resumeTitle
{
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20%;
    display: block;
}

.resumeName
{
    background-color: #FFFFFF00 ;
    height: 30%;
}

.resumeAbout
{
    background-color: #FFFFFF00;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.resumeContent
{
    background-color: #FFFFFF;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.resumeEEP
{
    background-color: #FFFFFF;
    width: 69%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.resumeAIP
{
    background-color: #FFFFFF;
    width: 29%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    border-left: 4px solid red;
}

.resumeProf
{
    background-color: #FFFFFF;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    border-top: 4px solid red;
}

.name
{
    font-size: 250%;
    color: #FFFFFF;
}

.about
{
    font-size: 75%;
    color: #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
}

.prof
{
    font-size: 75%;
}

/* ******************************************************************************************************************************************************************* */

.wcard
{
    display: block;
    max-width: 90%;
    max-height: 100%;
    margin: auto;
    background: inherit;
}

.wcardHeader
{
    width: 100%;
    height: 10%;
    margin-bottom: 0.4rem;
    background: inherit;
}

.wcardTitle
{
    font-size: 100%;
    margin: 0;
    color: red;
}

.wcardContent
{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    background: inherit;
}

.wcardList
{
    font-size: 75%;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
}

.hcard
{
    display: block;
    max-width: 90%;
    max-height: 100%;
    margin: auto;
    background: inherit;
}

.hcardHeader
{
    width: 100%;
    height: 10%;
    margin-bottom: 0.4rem;
    background: inherit;
}

.hcardTitle
{
    font-size: 100%;
    margin: 0;
    color: red;
}

.hcardContent
{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    background: inherit;
}

.hcardList
{
    font-size: 75%;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
}